* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}



.logo {
    font-size: 1.5em;
    font-weight: 900;
    color: #A98467;
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 2px 10px #0000000e
}

body{
    background: rgb(169,132,103);
    background: radial-gradient(circle, rgba(169,132,103,1) 0%, rgba(240,234,210,1) 100%); 
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff;
}

main {
    position: relative;
    margin:200px 50px;
    color: #ffffff;
   
}

main h1{
    text-shadow: 2px 2px 5px #0000004d;    
}

main p{
    text-shadow: 2px 2px 5px #0000004d; 
    float: left ;
}


.navigation a {
    text-decoration: none;
    color: #6c757d;
    margin: 0 10px;
}




.dropdown button{
    font-size: 1em;
    outline-color: #ffffff;
    outline-width: 15px;
    color: #6c757d;
    padding: 10px  20px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    
}

.dropdown{
    display: inline-block;
}

.dropdown a{
    display: block;
    text-decoration: none;
    padding: 10 px;
    color: #6c757d;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #e9e9ed;
    max-width: 150px;
    padding: 10px 25px;
    box-shadow: 2px 2px 5px #0000004d;
    
    

}

.dropdown:hover .content{
    display: block;
}



.dropdown a :hover {
    background-color: #d0d0d7;
 
}
/*
.navigation .search{
    float: left;
    padding: 10px;
    border: none;
    margin: 0 10px;
    font-size: 17px;
    border-radius: 20px;
}
*/
.record{
    float: left;
    max-height: 500px;
    max-width: 500px;
}

.cover{
    max-height: 500px;
    max-width: 500px;   
    float: left;
    padding-left: 0;
    padding-top: 20px;
}